body {
  background-color: blueviolet;

  display: flex;
  flex-direction: column;
}

h1 {
  color: brown;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}